.hero {
  background-color: #333;
}


.footer {
  position: relative;
  bottom: 0px;
  width: 100%;
}

.input.is-active, .input.is-focused, .input:active, .input:focus, .textarea.is-active, .textarea.is-focused, .textarea:active, .textarea:focus {
  border-color: #ff7801;
  -webkit-box-shadow: 0 0 0 0.125em rgba(255, 120, 1,.25);
  box-shadow: 0 0 0 0.125em rgba(255, 120, 1,.25);
}


.is-primay,
a {
  color: #ff7801;
}

.button.is-primary[disabled],
.button.is-primary {
  background-color: #ff7801;

  &:hover,
  &:active {
    background-color: #FF7811;
  }
}

code[class*=language-],
pre[class*=language-] {
  white-space: inherit !important;
}
